*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 微软雅黑;
}
p{
	text-align: center;
}
body{
	background: #4cc5fe;
}
#container{
	padding-top: 20%;
}
.circle{
	width: 5rem;
	margin: 0 auto;
	margin-bottom: 5%;
}
.circle img{
	width: 100%;
}
.success{
	font-size: 2.8rem;
	color: white;
	font-weight: bold;
}
.jump{
	font-size: 1.4rem;
	margin-top: 5%;
	color: white;
}
.plane{
	margin: 6% 10% 0 10%;
	width:80%;
}
