*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.wrap div{
	margin: 1rem auto 0;
	width: 80%;
	height: 3.5rem;
	background-color: #f5f5f5;
	border-radius: 0.6rem;
	font:1.4rem 微软雅黑;
	line-height: 3.5rem;
	text-indent: 10px;
}
.wrap h3{
	margin-top: 1rem;
	text-indent: 10%;
	color: #606065;
	font:1.4rem 微软雅黑;
}
.wrap{
	margin-top: 2rem;
}

.wrap span{
	color: red;
}
button{
	margin: 2rem 0 2rem 10%;
	width: 80%;
	height: 3.5rem;
	background-color: #6497e8;
	border-radius: 0.6rem;
	border: none;
}
button a{
	display: block;
	width: 100%;
	color: #fff;
	font:1.4rem 微软雅黑;
}
img{
	width: 40%;
}
